# Flutter build
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
generated_plugin_registrant.dart

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/RunnerTests/
ios/RunnerUITests/
ios/.dart_tool/
ios/Flutter/ephemeral/
*.xcuserstate

# Android
android/.gradle/
android/captures/
android/.idea/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# Xcode
*.mode1v3
*.mode2v3
*.pbxuser
*.xcuserstate
*.xcworkspace
*.xcsettings
*.xcodeproj/*
!*.xcodeproj/project.pbxproj

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# macOS
.DS_Store

# Linux
*.swp